.card {
  background-color: var(--ifm-background-surface-color);
  padding: 20px;
  margin: 0 auto 15px auto;
  border-radius: 8px;
  border: 1px solid var(--ifm-color-content);
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-decoration: none;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(var(--ifm-color-content), 0.15);
  cursor: pointer;
}

.link {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.link h2 {
  width: 100%;
  font-weight: bold;
  font-size: 16px;
  color: var(--ifm-color-content);
  margin: 0;
}

.card p {
  width: 100%;
  color: var(--ifm-color-content);
  margin: 0;
  text-decoration: none;
}

.card img {
  width: 100%;
  object-fit: contain;
}

.card a {
  text-decoration: none;
}
